
<!doctype html>

<html>

  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Composers</title>
    <link rel="stylesheet" href="stylesheets/reset.css" title="text/css" />
    <link rel="stylesheet" href="stylesheets/main.css" title="text/css" />
  </head>


  <body>
    <div id="wrapper">


      <div id="banner">
        <div id="title">
          <h1>Great Symphonic Composers</h1>
          <h2>& Their Symphonies</h2>
        </div>
      </div>


      <div id="sortbar">
        <ul>
          <li><a href="/composers?sort=name">Last Name</a></li>
          <li><a href="/composers?sort=dob">Date of Birth</a></li>
          <li><a href="/composers?sort=dod">Date of Death</a></li>
        </ul>
      </div>

      <div id="contents">
        <% @composers.each do |composer| %>
          <div class="composer_entry">

            <div class="photocolumn">
                <img src=<%= composer.thumbnail %>  alt=<%= composer.surname %>>
                <h3><%= composer.surname %></h3>
            </div>

            <div class="rightside">
              <h4><%= composer.formatted_string %></h4
              <p></p>

              <div class="syphonylisting">
                <% symphs = composer.symphonies %>
                <% symphs.each do |symph| %>
                  <p><%= symph.formatted_string %></p>
                <% end %>
                <p></p>
                <p><%= "      Count: #{symphs.count}, Average time: #{symphs.average_runtime.to_i}" %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div id="pagestats">
        <p>Total Composers: <%= @composers.total_shown %></p>
        <p>Average Age at Death: <%= @composers.average_age.to_i %></p>
        <p>Average Symphony Runtime: <%= @composers.get_symphonies.average_runtime.to_i %></p>
        <p>Cities of Residence: <%= @cities.join(", ") %></p>
        <p>Total Symphonies shown: <%= @composers.get_symphonies.count %></p>
      </div>

    </div>
  </body>
</html>
